#counter {
  display: inline-block;
  background-color: #777777;
  font-size: 75px;
  padding: 20px 60px 20px 60px;
  border-radius: 40px;
  color: #ffffff;
  animation: floating 2s ease-in-out infinite;
}

#leaderboard h1 {
  font-size: 40px;
}

#leaderboard ul {
  padding-left: 0;
  list-style-type: none;
}

#leaderboard ul li {
  background-color: #cccccc;
  color: #444444;
  font-size: 30px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  border-radius: 20px;
}

#leaderboard ul li:first-child {
  background-color: #ffffff;
}

#leaderboard ul li:nth-child(3) {
  width: 550px;
}

#leaderboard ul li:nth-child(5) {
  width: 600px;
}

#leaderboard ul li:nth-child(7) {
  width: 650px;
}

#leaderboard ul li:nth-child(9) {
  width: 700px;
}

#leaderboard ul li div {
  display: inline;
}

#leaderboard ul li div.left {
  color: #000000;
}

#leaderboard ul li div.right {
  float: right;
  color: #999999;
}

.option {
  display: inline-block;
  border: 5px solid #ffffff;
  border-radius: 35px;
  width: 35vw;
  text-align: left;
  transition: background-color 0.25s;
}

.option img {
  width: 64px;
  filter: invert(100%);
  vertical-align: middle;
}

.option img.icon {
  width: 60px;
  height: 75px;
  border-right: 3px outset #000000;
  padding: 20px 28px 20px 28px;
  border-radius: 25%;
}

.option span {
  vertical-align: middle;
  font-size: 24px;
  color: #ffffff;
}

.option.unhighlight {
  background-color: #777777;
}
