#topbar h1 {
  position: fixed;
  top: 0.5vh;
  background-color: #ffffff;
  color: #666666;
  padding: 1.25vh;
  font-size: 2vh;
  border-radius: 0.75em;
}

#name {
  left: 1em;
}

#points {
  right: 1em;
}

#options {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90vw;
  height: 80vh;
}

#answerimage {
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
}

#youranswer {
  background-color: #dddddd;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

#youranswer div {
  display: inline-block;
  border: 5px solid #ffffff;
  padding: 30px 20px 30px 20px;
  border-radius: 15px;
}

#youranswer div img {
  width: 60px;
  height: 75px;
  filter: invert(100%);
}

#waiting img {
  padding: 25px;
  background-color: #cccccc;
  border-radius: 15px;
  height: 125px;
  border-right: 5px solid #eeeeee;
  border-left: 5px solid #eeeeee;
  animation: floating 2s ease-in-out infinite;
}

#answerstatus {
  font-size: 48px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffffff;
  border-radius: 35px;
  cursor: pointer;
  transition: border 0.25s;
}

.option img {
  width: 60px;
  height: 75px;
  filter: invert(100%);
  border: 5px solid #000000;
  padding: 20px 28px 20px 28px;
  border-radius: 25%;
  transition: transform 0.25s;
}

@media all and (max-width: 575px) {
  #name {
    border-radius: 10px;
  }

  #points {
    border-radius: 10px;
  }

  #answerstatus {
    font-size: 40px;
  }

  #answerimage {
    height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #answermessage {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 10px;
  }

  #checkarea {
    transform: scale(0.75);
    margin-top: -50px;
  }

  #placement {
    margin-top: -50px;
  }
}

@media all and (max-height: 850px) {
  #answermessage {
    display: none;
  }
}
