#name {
  position: fixed;
  top: 0;
  left: 1vw;
  background-color: #ffffff;
  color: #666666;
  padding: 1.25vh;
  font-size: 2vh;
  border-radius: 20px;
}

#points {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  color: #666666;
  padding: 1.25vh;
  font-size: 2vh;
  border-radius: 20px;
}

#options {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90vw;
  height: 80vh;
}

#answerimage {
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
}

#youranswer div {
  display: inline-block;
  border: 5px solid #ffffff;
  padding: 30px 20px 30px 20px;
  border-radius: 15px;
}

#youranswer div img {
  width: 60px;
  height: 75px;
  filter: invert(100%);
}

#waiting img {
  padding: 25px;
  background-color: #cccccc;
  border-radius: 15px;
  height: 125px;
  border-right: 5px solid #eeeeee;
  border-left: 5px solid #eeeeee;
  animation: floating 2s ease-in-out infinite;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffffff;
  border-radius: 35px;
  cursor: pointer;
  transition: border 0.25s;
}

.option img {
  width: 60px;
  height: 75px;
  filter: invert(100%);
  border: 5px solid #000000;
  padding: 20px 28px 20px 28px;
  border-radius: 25%;
  transition: transform 0.25s;
}

@media all and (max-width: 575px) {
  #name {
    top: 1vh;
    left: 3vw;
    font-size: 1.5vh;
  }

  #points {
    top: 1vh;
    font-size: 1.5vh;
  }
}
